<style>

  pre {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #444;
    padding-bottom: 1px;
  }

  a:hover {
    border-bottom: 1px solid #444;
  }

  #container {
    width: 700px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    color: #333;
    margin-bottom: 50px;
  }

  header {
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: -40px;
  }

  header h1 {
    background: #fff;
    display: inline-block;
    position: relative;
    top: 36px;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .commit {
    background: #e6f1f6;
    padding: 8px 8px 0;
    border: 1px solid #e6f1f6;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .commit:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .commit .message {
    display: block;
    color: #213f4d;
    text-shadow: 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    font-size: 18px;
  }

  .commit .meta {
    float: left;
    width: 100%;
    font-weight: bold;
    border-top: 1px solid #d8e6ec;
    font-size: 14px;
    margin: 0 -8px;
    padding: 8px;
    background: #fff;
  }

  .commit .author {
    width: 250px;
    float: left;
  }

  .commit .author .portrait {
    border-radius: 3px;
    margin: -3px;
    margin-right: 3px;
    vertical-align: middle;
  }

  .commit .sha {
    text-align: right;
    width: 400px;
    float: right;
    font-weight: normal;
    font-family: Monaco;
    font-size: 12px;
  }

  .commit .sha .label {
    color: #888;
  }

  .commit .sha .value {
    color: #444;
  }

  .diff {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    overflow: scroll;
  }

  [id^=line-] {
    display: block;
    padding: 2px;
  }

  .gu, .gd, .gi, .gh {
    display: block;
    padding: 3px;
    margin: -2px;
  }

  footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #e6f1f6;
    color: #666;
    font-size: 12px;
  }

  footer .credits {
    float: left;
  }

  footer .contribute {
    float: right;
    text-align: right;
  }

  footer .license{
    float: right;
    text-align: right;
    margin-right: 10px;
  }

  /* Highlights */
  .hll { background-color: #ffffcc }
  .c { color: #999988; font-style: italic } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { color: #000000; font-weight: bold } /* Keyword */
  .o { color: #000000; font-weight: bold } /* Operator */
  .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
  .c1 { color: #999988; font-style: italic } /* Comment.Single */
  .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .ge { color: #000000; font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #999999 } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #aaaaaa } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
  .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #d01040 } /* Literal.String */
  .na { color: #008080 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #445588; font-weight: bold } /* Name.Class */
  .no { color: #008080 } /* Name.Constant */
  .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
  .ni { color: #800080 } /* Name.Entity */
  .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .nf { color: #990000; font-weight: bold } /* Name.Function */
  .nl { color: #990000; font-weight: bold } /* Name.Label */
  .nn { color: #555555 } /* Name.Namespace */
  .nt { color: #000080 } /* Name.Tag */
  .nv { color: #008080 } /* Name.Variable */
  .ow { color: #000000; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #d01040 } /* Literal.String.Backtick */
  .sc { color: #d01040 } /* Literal.String.Char */
  .sd { color: #d01040 } /* Literal.String.Doc */
  .s2 { color: #d01040 } /* Literal.String.Double */
  .se { color: #d01040 } /* Literal.String.Escape */
  .sh { color: #d01040 } /* Literal.String.Heredoc */
  .si { color: #d01040 } /* Literal.String.Interpol */
  .sx { color: #d01040 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #d01040 } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .vc { color: #008080 } /* Name.Variable.Class */
  .vg { color: #008080 } /* Name.Variable.Global */
  .vi { color: #008080 } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */

</style>

<link rel="stylesheet" type="text/css" href="stylesheets/github.css" />

<div id="container">

  <header>
    <h1>Code Review</h1>
  </header>

  <div class="commit">
    <strong class="message"><%= commit["message"] %></strong>
    <div class="meta">
      <div class="author">
        <img class="portrait" height="24" width="24" src="<%= gravatar.image_url %>" />
        <span class="name"><%= commit["author"]["name"] %></span>
      </div>
      <div class="sha">
        <span class="label">commit</span>
        <span class="value"><a href="<%= commit["url"] %>"><%= commit["id"] %></a></span>
      </div >
    </div>
  </div>

  <div class="diff">
    <%= Pygments.highlight diff, lexer: "diff", options: { linespans: "line", lineseparator: "" } %>
  </div>

  <footer>
    <div class="credits">
      <a href="http://hyper.no">Hyper</a> made this
    </div>

    <div class="contribute">
      <a href="https://github.com/hyperoslo/code-review">Contribute</a>
    </div>

    <div class="license">
      <a href="http://opensource.org/licenses/MIT">License</a>
    </div>
  </footer>

</div>
